
<form>
  <textarea id="editor"></textarea>
</form>

<p>
    <a href="/?l=sv">Svenska</a>
    <span>|</span>
    <a href="/?l=en">English</a>
</p>

<script>
    var lang = '{{lang}}'
</script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/ckeditor/ckeditor.js"></script>
<script src="/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/index.js"></script>
