<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ckeditor sample</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/vendor/kth-style/css/kth-bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              {{{body}}}
          </div>
      </div>
  </div>
</body>
</html>
